
  <head>
    <meta charset="utf-8">
    <title>web</title>
  </head>
  <body>
    <div id="app"></div>
    <script>
      var vm = {
        showSignIn : {{vue_data.showSignIn}},
        showSignUp : {{vue_data.showSignUp}},
        errorMessage : "{{vue_data.errorMessage}}"
      }
    </script>
    <script src="/dist/build.js"></script>
  </body>

